<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    {{#each organizations key="uid" as |organization index|}}
      <li role="presentation" class="{{active-class index}}">
      <a href="#{{organization.uid}}" aria-controls={{organization.uid}} role="tab" data-toggle="tab">{{organization.name}}</a>
    </li>
    {{/each}}
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    {{#each organizations key="uid" as |org index|}}
      <div role="tabpanel" class="tab-pane room-list {{active-class index}}" id={{org.uid}}>
        <div class="list-group">
            {{#each  org.rooms as |room|}}
              <a href="room/{{room.uid}}" class="list-group-item">
                {{#if room.organization }}
                  <span>
                    <img class="avatar-organization-list" src={{room.organization.avatar}} />
                  </span>
                {{/if}}
                {{room.name}}
              </a>
            {{/each}}
        </div>
      </div>
    {{/each}}
  </div>
</div>
