<div class="card hovercard">
  <div class="avatar">
    <img alt="" src={{user.avatar}}>
  </div>
  <div class="info">
    <div class="title">
    <a target="_blank" href="https://github.com/{{user.login}}">{{user.name}}</a>
    </div>
  <div class="desc">{{user.login}}</div>
  <div class="desc">{{user.company}}</div>
  <div class="desc">{{user.location}}</div>
  </div>
  <div class="bottom">

  </div>
</div>
